.ListElement {
  display: flex;
  flex-direction: column;
  grid-template-columns: 724px 1fr 2fr;
  border: 2px solid;
  width: 92%;
  background-color: white;
  border-radius: 20px;
  min-height: 100px;
}

.divListElementName {
  display: flex;
  justify-content: space-between;
}

.ListElementHeader {
  margin: 20px;
}

.ChangeListElementInput {
  display: block;
  margin: 20px;
  border: 2px black solid;
  border-radius: 5px;
}

.ChangeListElementTextarea {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 20px 20px;
  border: 2px solid black;
  border-radius: 5px;
  max-width: 93%;
  position: inherit;
  min-width: 93%;
  height: 32px;
  min-height: 50px;
}

.BtnListElementAgree {
  margin: 10px 5px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #37b5ff;
}

.BtnListElementAgreeImg {
  height: 25px;
  width: 25px;
  margin-top: 4px;
}

.BtnListElementChange {
  margin: 10px 5px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #37b5ff;
}

.BtnListElementChangeImg {
  height: 25px;
  width: 25px;
  margin-top: 4px;
}

.BtnListElementDelete {
  margin: 10px 5px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #37b5ff;
}

.BtnListElementDeleteImg {
  height: 25px;
  width: 25px;
  margin-top: 4px;
}

.ListElementText {
  margin: 20px;
}


